<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/ico/logo.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>creAIte</title>
</head>

<body>
    <link rel="stylesheet" href="static/css/style.css">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="/static/ico/logo.png" alt="" width="30" height="24"
                    class="d-inline-block align-text-top">creAIte</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/timetable">Time-Table</a>
                    </li>

                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7">
                <h2 class="featurette-heading">Why did we select “creAIte” to represent our motives?</h2>
                <p class="lead fs-4 ">We expect our platform to be serving as the mediator between students and their
                    educational successes in a way which is more modern and appealing to today’s youth, to portray this
                    ideal we made up a word which is a combination of education (EDU) and the name of Athene/Athena
                    (THENE) the Greek goddess of wisdom, knowledge, craft and justice- In a nutshell we want to promote
                    the motives of gaining Knowledge by engaging, being Crafty with the methods of memorising and doing
                    Justice to the expectations laid out in the future.</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" src="/static/cards/About Us 1.png" alt="">

            </div>
        </div>
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Story behind our “creAIte” logo?</h2>
                <p class="lead fs-4 ">Nasir-i-Khusraw quoted “Make a shield from knowledge,for there is no stronger
                    shield
                    against calamities”- and this inspired us to come up with our logo whose base is a shield or a
                    shield of knowledge in this case.</p>
                <p class="lead fs-4 ">Nelson Mandela once stated that “Education is the most powerful weapon which you
                    can use
                    to change the world” – This ever-running quote inspired us to depict the “powerful weapon of
                    education” with a sword and an open book that crowns the shield. </p>
                <p class="lead fs-4 ">The sword being held by an octopus tentacle depicts the fact that Athena: The
                    goddess of
                    knowledge, wisdom, craft and justice being a shape shifter as most Greek mythological rulers had the
                    powers to.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" src="/static/cards/About Us 2.png" alt="">

            </div>
        </div>
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class=" fs-4">
                <h2 class="featurette-heading">Why is “creAIte” different from other existing websites?</h2>
                <p class="lead  fs-4">Our motive at creAIte was to focus specifically on developing and modern
                    requirements
                    for students which will keep them engaged in the sense of inciting conceptual understanding and keep
                    them well put when it comes to social and individual awareness, Our platform focuses on the constant
                    engagement with subjective and social development thus it has the following features to name a few:
                </p>
                <ul>
                    <li>Column where the students get access to various YouTube links through which they can explore
                        interesting theories/experiments and topics and explore their interests widely, visuals also
                        help students to build their concepts gradually,</li>
                    <li>Column where the students can play/select Lo-Fi background music while they are doing
                        assignments would help them focus as music acts as a stimulus moreover it would block out the
                        uneven noises of the surrounding/house with a steady tune,</li>
                    <li>Concentration is a factor that is the key towards being on top of given tasks and people often
                        struggle through it due to various reasons (ADD/ADHD/Autism)and our provision of Pomodoro
                        Countdown will reduce the issue as it breaks a big tasks into chunks to be done within 25mins
                        with a break of 5 mins. Studying in timed intervals makes the concept of burden die down for a
                        bit.</li>
                    <li>We also have a timer through which the students can solve tests/assignments by constantly timing
                        them, timer also makes it easier for a student to track their productivity throughout the day.
                    </li>
                    <li>With the Digital Age moving and developing at a speed of light, it is important that the
                        students learn functioning in teams and develop a sense of team building, networking and a
                        strong command on communication. To develop this we have a section which provides such
                        information specifically about “Internships and Programs”</li>
                    <li>The website also has links to educational news, reports on admissions/cutoffs and syllabus so
                        that the students using this platform stay on top of things and well informed.</li>
                    <li>As stated before, we strive to foster a sense of engagement and creativity thus we have a column
                        of book recommendations they can refer to which would in a span of time broaden imagination and
                        improve the creative quotient,</li>
                </ul>



            </div>

        </div>
    </div>

    <footer class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>© 2022–2023 EDUTHENA Company Pvt Ltd. · </p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>

</html>